body{
    background-color:white;
    text-align: center;
}

/* .task-list{

} */

input{
    border-radius: 5px;
    border: none;
    width: 15;
    height: 2rem;
    text-align: center;
    margin-top: 1rem;
    margin-right: .5rem;
}
button{
    border-radius: 5px;
    border: none;
    height:2rem;
    background-color: deeppink;
    font-weight: bolder;
}

select{
    background-color: white;
    height: 2rem;
    border-radius: 5px;
    font-weight: bolder;
    border: none;
}

.todo-list-container{
    display: flex;
    justify-content: center;
    background-color: deepskyblue;
    border-radius: 5px;
    height: 30rem;
    width: 60rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}